# ╭─────────────────────────────────ImplementationGuide-hl7.fhir.uv.RE.json──────────────────────────────────╮
# │  The properties below are used to create the ImplementationGuide resource. For a list of       │
# │  supported properties, see:                                                                    │
# │  https://fshschool.org/docs/sushi/configuration/#full-configuration                            │
# ╰────────────────────────────────────────────────────────────────────────────────────────────────╯
id: hl7.fhir.cl.corecl
canonical: https://hl7chile.cl/fhir/ig/CoreCL
version: 1.5.0 
name: CoreCL-DEV

title: Guía de Implementación Core-CL FHIR R4, (Versión Evolutiva)
status: draft
date: 2022-05
publisher: 
  name: HL7 Chile
  url: http://hl7chile.cl
  email: chair@hl7chile.cl
       
description: "Guía de Implementación Versión de Desarrollo Sobre STU 1, para los perfiles Core que se van a requerir a nivel de desarrollo Nacional para Sistemas que Intercambien datos en estandar FHIR-R4"
jurisdiction: urn:iso:std:iso:3166#CL "Chile"
copyright: "Usado con el permiso de HL7 International, todos los derechos resevados en los Licencias de HL7 Internacional."
license: CC0-1.0
fhirVersion: 4.0.1


pages: 
  index.md:
    title: Inicio
  Aspectos-Generales.md:
    title: Generalidades
  Alcances-Objetivos.md:
    title: Objetivos
  Consolidado-Operaciones.md:
    title: Operaciones Básicas
  Extensiones.md:
  Set-De-Validacion-ValueSets.md:
    title: CodeSystems/ValueSets
  Perfiles.md: 
  Set-Ejemplos.md:
    title: Ejemplos
  Todas-Descargas.md:
    title: Descargas

parameters:
  apply-publisher: true
  no-broken-links: true
  apply-contact: true
  show-inherited-invariants: false
  excludettl: true
  generate: genExamples

copyrightyear: '2021+'
releaselabel: CI Build



# ╭────────────────────────────────────────────menu.xml────────────────────────────────────────────╮
# │  To use a provided input/includes/menu.xml file, delete the "menu" property below.             │
# ╰────────────────────────────────────────────────────────────────────────────────────────────────╯

menu:
  Inicio: index.html
  Objetivos: Alcances-Objetivos.html
  Generalidades: Aspectos-Generales.html
  Operaciones: Consolidado-Operaciones.html
  Artefactos:
   Perfiles: Perfiles.html
   Extensiones: Extensiones.html
   Valuesets: Set-De-Validacion-ValueSets.html
  Perfiles: 
    Paciente: StructureDefinition-CorePacienteCl.html
    Prestador: StructureDefinition-CorePrestadorCl.html
    Especialidad Prestador: StructureDefinition-CoreEspecialidadCl.html
    Organización: StructureDefinition-CoreOrganizacionCl.html
    Medicamento: StructureDefinition-CoreMedicamentoCl.html
    Localización: StructureDefinition-CoreLocalizacionCl.html
    Provenance: StructureDefinition-ProvenanceCl.html
    Encuentro: StructureDefinition-EncuetroCL.html
    Inmunización: StructureDefinition-ImmunizationCL.html
    Documento: StructureDefinition-DocumentoCl.html
    Auditoría: StructureDefinition-AuditEventCl.html
    Bundle: StructureDefinition-BundleCl.html
  Ejemplos: Set-Ejemplos.html
  Descargas: Todas-Descargas.html
 